:root {
  --branding-color: #c363ff;
  --secondary-color: #eed8fc;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 18px;
}

nav li.active a,
nav li a:hover {
  color: var(--branding-color);
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 65px;
}

h4 {
  font-size: 50px;
}

p {
  font-weight: normal;
  line-height: 30px;
  font-size: 17px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 22px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 25px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}

.content p {
  font-size: 15px;
}

.content {
  margin: 30px;
}

.profile-img {
  border-radius: 10px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background: var(--branding-color);
  color: black;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 19px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}

.project-description {
  padding: 120px 60px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 100px;
  margin: 0 60px;
  border-radius: 10px;
}

footer .email-link {
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  color: var(--branding-color);
  background: var(--secondary-color);
  font-size: 20px;
  margin: 0 20px;
  padding: 10px 14px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 2;
  }

  h2 {
    font-size: 45px;
  }

  h4 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
